extends layout

block content
  .row
    .col-sm-8
      h1= title
      p Alexander Roode is a cellist and composer based in Orange County, California.
      p Alex has performed a wide range of classical repertoire with the UCLA Symphony Orchestra,
        |  the Irvine Valley College Symphony Orchestra, and Symphony Irvine.
      p Alex is a self-taught composer who strives to write accessible modern music for traditional ensembles.
        |  In 2014, Alex's solo piano work "Avid Pursuits" was the first prize winner of the First Annual Irvine
        |  Valley College Composition Competition.
      p Alex has a B.S. in Mathematics of Computation from UCLA, and works as a software and web developer in
        |  Aliso Viejo, California.
    .col-sm-4
      img(src="/img/alex1.jpg", alt="Alexander Roode").img-fluid

