extends layout

block content
  .row.mx-ns
    .col-md-7.px-s.mb-4
      h1= title
      .text-justify
        p Alexander Roode is a cellist and self-taught composer based in Orange County, California.
          |  Alex strives to write accessible modern music for traditional ensembles.
        p Alex was the winner of the 2014 Irvine Valley College Student Composition Competition,
          |  the recipient of 2020 Barbara Buehlman Prize for Composition presented by the Midwest Clinic, and the
          |  winner of the 2021 Quadre International Competition Contest, presented by Quadre, the Voice of Four Horns.
        p Alex has performed a wide range of classical repertoire with the UCLA Symphony Orchestra, the Irvine Valley
          |  College Symphony Orchestra, and Symphony Irvine.
        p Alex has a B.S. in Mathematics of Computation from UCLA and works as a software and web developer in
          |  Irvine, California.
    .col-md-5.col-lg-4.offset-lg-1.px-s.text-center
      img(src="/img/alex1.jpg", alt="Alexander Roode").img-fluid