extends layout

block content
  .row
    .col-md-8
      h1= title

      #cart-contents

      h2.mt-s2 Payment Methods

      p To pay with card, check out above. If you need to pay with check or purchase order, please
        a(href="/contact")  contact
        |  Alex directly.

      h2 Part Delivery

      p After purchasing, scores and parts will be emailed to you within 72 hours.