extends layout

block content
  .row
    .col-md-8
      h1= title

      p Please feel free to reach out to Alexander with any comments, questions,
        |  or requests.

      #contact-form(data-recaptcha-site-key=recaptchaSiteKey)