extends layout

block content
  .row
    .col-sm-4
      img(src="/img/alex2.jpg", alt="Alexander Roode").img-responsive
    .col-sm-8
      h1= title
      p Alexander Roode is a composer and cellist based in Orange County, California.