extends layout
include music/pieceRow

block content
  .row
    .col-md-6.col-lg-8.mb-4
      p Alexander Roode is a composer and cellist based in Orange County, California.

      h1 Latest Works

      each piece in latestWork
        +piece-row(piece)

      p.mt-4
        a.btn.btn-outline-primary(href="/music") View All

    .col-md-6.col-lg-4.mb-4
      img(src="/img/alex2.jpg", alt="Alexander Roode").img-fluid.mb-3
