extends layout

block content
  .row.mx-ns
    .col-md-4.px-s
      img(src="/img/alex2.jpg", alt="Alexander Roode").img-fluid.mb-3
    .col-md-8.px-s
      h1= title
      p Alexander Roode is a composer and cellist based in Orange County, California.