doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700')
  body
    .main-title-container
      h1.main-title Alexander Roode
      h2 Composer
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .main-content.container
      .navbar-collapse.collapse
        .main-nav.navbar.navbar-default   
          div
            ul.nav.navbar-nav
              li: a(href='/') Home
              li: a(href='/bio') Bio
              li: a(href='/music') Music
              li: a(href='/contact') Contact
        block subNav  
      block content
    script(src='https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')