extends layout

block content
  .row
    .col-md-8
      h1= title

      #order-confirmation

      p Thank you for your order. Your items will be delivered to you by email within 72 hours.

      p If you have any questions, please #[a(href="/contact") contact Alex].