extends ../layout

block subNav
  .subNav.navbar.navbar-default
    ul.nav.navbar-nav
      li: a(href='/music/solo') Solo
      li: a(href='/music/chamber') Chamber
      li: a(href='/music/orchestra') Orchestra
      li: a(href='/music/band') Band