extends ../layout

block subNav
  .navbar.navbar-light.navbar-expand-sm.bg-gray-100.p-0
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.nav-item: a.nav-link(href='/music/solo') Solo
        li.nav-item: a.nav-link(href='/music/chamber') Chamber
        li.nav-item: a.nav-link(href='/music/orchestra') Orchestra
        li.nav-item: a.nav-link(href='/music/band') Band